[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = "*"
numpy = "*"
sympy = "*"
mypy = "*"
black = "*"
invoke = "*"

[dev-packages]

[requires]
python_version = "3.10"
